<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href='/font-awesome/css/font-awesome.min.css'>
</head>

<body class="pt-5">
 <div class= "container">
  <nav class="navbar fixed-top navbar-expand-sm navbar-light mb-3" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">My Blog</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/blogList">List Blogs</a>
        <a class="nav-item nav-link active" href="/blogAdd">Add Blog</a>
      </div>
    </div>
  </nav>
 <p> 
  <div class="col justify-content-md-center mb-3">
    <% for(var i=0; i < blogs.length; i++) {%>
      <div class="card border-primary mb-3 .mx-auto" style="width: 50%">
        <div class="card-header">
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= blogs[i].blog_title %></h5>
          <p class="card-text"><%= blogs[i].blog_text %></p> 
        </div>
        <div class="card-footer">
	 <div class = "col-sm">
          <nav class="nav justify-content-start nav-pills card-header-pills">
            <span class="navbar-brand h5">Navbar</span>
          </nav>
           <ul class="nav justify-content-end nav-pills card-header-pills">
             <li class="nav-item"> 
	       <a class="nav-link" href="/blogEdit/<%= blogs[i]._id%>"><i class="fa fa-edit"></i></a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="/blogDelete/<%= blogs[i]._id%>"><i class="fa fa-trash"></i></a>
             </li>
           </ul>
        </div>
	</div>
      </div>
    <% } %>
  </div>
 </p>
</div>
</body>

</html>

